registry = https://packages.aliyun.com/6691eaf6083f058f78f734f1/npm/npm-registry/

public-hoist-pattern[] = *stylelint*
public-hoist-pattern[] = *commitlint*
public-hoist-pattern[] = *eslint*
public-hoist-pattern[] = *prettier*